[package]
edition = "2018"
name = "tangram_app_production_stats"
publish = false
version = "0.0.0"

[lib]
path = "lib.rs"

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
chrono-tz = { version = "0.5", features = ["serde"] }
num = "0.4"
fnv = "1"
indexmap = { version = "1.6", features = ["serde-1"] }
itertools = "0.10"
pinwheel = "0.2"
rand = "0.8"
rust-s3 = { version = "0.27.0-rc4" , default-features = false, features = ["tokio-rustls-tls"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sqlx = { version = "0.5", default-features = false, features = ["any", "chrono", "postgres", "runtime-tokio-rustls", "sqlite"] }
tangram_app_common = { path = "../common" }
tangram_app_ui = { path = "../ui" }
tangram_ui = { path = "../../ui" }
tangram_metrics = { path = "../../metrics" }
tangram_model = { path = "../../model" }
tangram_text = { path = "../../text" }
anyhow = { version = "1", features = ["backtrace"] }
tangram_zip = { path = "../../zip" }
