.code-select-grid {
	border-radius: var(--border-radius);
	display: grid;
	grid: "header" auto "body" auto / 1fr;
	gap: 0.5rem;
}

.code-select-code-wrapper {
	display: none;
}

.code {
	border-radius: var(--border-radius);
	color: var(--text-color);
	display: grid;
	grid: auto / auto minmax(0, 1fr);
	overflow: auto;
}

.code-inner {
	-moz-tab-size: 2;
	caret-color: black;
	color: var(--text-color);
	font-size: 1rem;
	line-height: 1.5;
	tab-size: 2;
	white-space: pre;
}

.code-line-numbers-wrapper {
	margin-right: 0.5rem;
	text-align: right;
	user-select: none;
}

.code-line-numbers {
	color: var(--muted-text-color);
	font-size: 1rem;
	line-height: 1.5;
}

.inline-code {
	background-color: var(--header-color);
	border-radius: var(--border-radius);
	color: var(--text-color);
	padding: 0.1em 0.2em;
}

.comment {
	color: var(--gray);
}

.function {
	color: var(--blue);
}

.keyword {
	color: var(--purple);
}

.operator {
	color: var(--gray);
}

.punctuation {
	color: var(--gray);
}

.string {
	color: var(--green);
}

.type {
	color: var(--orange);
}

.variable {
	color: var(--teal);
}
