.s1 {
	align-content: start;
	display: grid;
	grid: auto / minmax(0, 1fr);
	row-gap: 2rem;
}

.s2 {
	align-content: start;
	display: grid;
	grid: auto / minmax(0, 1fr);
	row-gap: 1rem;
}

.center {
	text-align: center;
}

.space-between {
	align-items: center;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}

.h1 {
	color: var(--heading-text-color);
	font-weight: normal;
	margin: 0;
}

@media (max-width: 1199px) {
	.h1 {
		font-size: 1.25rem;
	}
}

@media (min-width: 1200px) {
	.h1 {
		font-size: 2rem;
	}
}

.h2 {
	color: var(--heading-text-color);
	font-weight: normal;
	margin: 0;
}

@media (max-width: 1199px) {
	.h2 {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	.h2 {
		font-size: 1.5rem;
	}
}

.p {
	margin: 0;
	line-height: 1.5;
}

.unordered-list,
.ordered-list {
	line-height: 1.5;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
