.nav-details {
	cursor: pointer;
}

.nav-details > summary {
	outline: none;
}

.nav-details[open] > summary {
	margin-bottom: 1rem;
}

@media (max-width: 1023px) {
	.nav-details {
		display: block;
	}
	.nav-details:not([open]) + .nav {
		display: none;
	}
}

@media (min-width: 1024px) {
	.nav-details {
		display: none;
	}
}

.nav {
	display: grid;
	gap: 2rem;
}

.nav-section {
	display: grid;
	gap: 0.5rem;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	margin-left: -1rem;
}

.nav-section-title {
	text-transform: uppercase;
	color: var(--muted-text-color);
	margin-left: 1rem;
}

.nav-item {
	display: grid;
	gap: 0.5rem;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	margin-left: 1rem;
}

.nav-item > a {
	color: var(--text-color);
	text-decoration: none;
	line-height: 1.5;
}

.nav-item-clickable > a:hover {
	cursor: pointer;
	filter: brightness(90%);
}

.nav-item-selected > a {
	color: var(--accent-color);
}
