.table {
	overflow: auto;
}

.table table {
	background-color: var(--surface-color);
	border: var(--border);
	border-radius: var(--border-radius);
	border-spacing: 0;
	margin: 0;
}

.table thead {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.table th {
	background-color: var(--header-color);
	border-bottom: var(--border-color);
	color: var(--heading-text-color);
	font-weight: normal;
	padding: 0.5rem 1rem;
	white-space: nowrap;
}

.table td {
	padding: 1rem 1rem;
	white-space: nowrap;
}
