.token {
	background-color: var(--accent-color);
	align-items: center;
	border-radius: 4px;
	box-sizing: border-box;
	color: var(--fun-text-color);
	display: inline-flex;
	font-size: 1em;
	height: 1.5em;
	padding: 0em 0.5em;
	white-space: nowrap;
}
