.form-text-field {
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-text-fill-color: inherit;
	appearance: none;
	background-color: var(--surface-color);
	border-radius: var(--border-radius);
	border: var(--border);
	box-sizing: border-box;
	color: var(--text-color);
	font-size: 1rem;
	font: inherit;
	height: 2.5rem;
	outline: none;
	padding: calc(0.5rem - var(--border-width)) 1rem;
	user-select: text;
	width: 100%;
}

.form-text-field:hover {
	border-color: var(--hover-color);
}

.form-text-field:focus {
	border-color: var(--accent-color);
}

.form-text-field::-webkit-input-placeholder {
	-webkit-text-fill-color: var(--muted-text-color);
	color: var(--muted-text-color);
}
