.benchmarks-table-chart-grid {
	display: grid;
}

@media (max-width: 1199px) {
	.benchmarks-table-chart-grid {
		row-gap: 1rem;
		grid: auto auto / auto;
	}
}

@media (min-width: 1200px) {
	.benchmarks-table-chart-grid {
		column-gap: 1rem;
		grid: auto / minmax(0, 1fr) minmax(0, 1fr);
	}
}
