[package]
edition = "2018"
license = "UNLICENSED"
name = "tangram_www"
publish = false
version = "0.0.0"

[[bin]]
name = "tangram_www"
path = "main.rs"

[features]
default = [
  "tangram_www_benchmarks_client",
  "tangram_www_benchmarks_server",
  "tangram_www_blog_index_server",
  "tangram_www_blog_post_server",
  "tangram_www_docs_getting_started_index_server",
  "tangram_www_docs_getting_started_inspect_client",
  "tangram_www_docs_getting_started_inspect_server",
  "tangram_www_docs_getting_started_monitor_client",
  "tangram_www_docs_getting_started_monitor_server",
  "tangram_www_docs_getting_started_predict_elixir_server",
  "tangram_www_docs_getting_started_predict_go_server",
  "tangram_www_docs_getting_started_predict_index_server",
  "tangram_www_docs_getting_started_predict_node_server",
  "tangram_www_docs_getting_started_predict_python_server",
  "tangram_www_docs_getting_started_predict_ruby_server",
  "tangram_www_docs_getting_started_predict_rust_server",
  "tangram_www_docs_getting_started_train_server",
  "tangram_www_docs_index_server",
  "tangram_www_docs_guide_server",
  "tangram_www_docs_install_server",
  "tangram_www_index_client",
  "tangram_www_index_server",
  "tangram_www_pricing_server"
]

[build-dependencies]
anyhow = { version = "1", features = ["backtrace"] }
sunfish = "0.2"

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
clap = { version = "3.0.0-beta.2", features = ["color"] }
futures = "0.3"
http = "0.2"
hyper = { version = "0.14", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sunfish = "0.2"
tangram_id = { path = "../id" }
tangram_www_content = { path = "content" }
tokio = { version = "1", features = ["full"] }
tower = { version = "0.4", features = ["make", "util"] }
tower-http = { version = "0.1", features = ["add-extension", "trace"] }
tracing = "0.1"
tracing-subscriber = "0.2"
watchserve = "0.1"

tangram_www_benchmarks_server = { path = "pages/benchmarks/server", optional = true }
tangram_www_blog_index_server = { path = "pages/blog/index/server", optional = true }
tangram_www_blog_post_server = { path = "pages/blog/_/server" , optional = true }
tangram_www_docs_getting_started_index_server = { path = "pages/docs/getting_started/index/server", optional = true }
tangram_www_docs_getting_started_inspect_server = { path = "pages/docs/getting_started/inspect/server" , optional = true}
tangram_www_docs_getting_started_monitor_server = { path = "pages/docs/getting_started/monitor/server" , optional = true}
tangram_www_docs_getting_started_predict_elixir_server = { path = "pages/docs/getting_started/predict/elixir/server" , optional = true}
tangram_www_docs_getting_started_predict_go_server = { path = "pages/docs/getting_started/predict/go/server" , optional = true}
tangram_www_docs_getting_started_predict_index_server = { path = "pages/docs/getting_started/predict/index/server" , optional = true}
tangram_www_docs_getting_started_predict_node_server = { path = "pages/docs/getting_started/predict/node/server" , optional = true}
tangram_www_docs_getting_started_predict_python_server = { path = "pages/docs/getting_started/predict/python/server" , optional = true}
tangram_www_docs_getting_started_predict_ruby_server = { path = "pages/docs/getting_started/predict/ruby/server" , optional = true}
tangram_www_docs_getting_started_predict_rust_server = { path = "pages/docs/getting_started/predict/rust/server" , optional = true}
tangram_www_docs_getting_started_train_server = { path = "pages/docs/getting_started/train/server" , optional = true }
tangram_www_docs_guide_server = { path = "pages/docs/guides/_/server", optional = true }
tangram_www_docs_index_server = { path = "pages/docs/index/server" , optional = true}
tangram_www_docs_install_server = { path = "pages/docs/install/server" , optional = true}
tangram_www_index_server = { path = "pages/index/server" , optional = true}
tangram_www_pricing_server = { path = "pages/pricing/server" , optional = true}

tangram_www_benchmarks_client = { path = "pages/benchmarks/client", optional = true }
tangram_www_docs_getting_started_inspect_client = {path = "pages/docs/getting_started/inspect/client", optional = true}
tangram_www_docs_getting_started_monitor_client = {path = "pages/docs/getting_started/monitor/client", optional = true}
tangram_www_index_client = { path = "pages/index/client", optional = true}
