[package]
authors = ["Tangram <root@tangram.dev"]
description = "Make predictions with a Tangram model from your Rust app. Learn more at https://www.tangram.dev/."
documentation = "https://docs.rs/tangram"
edition = "2018"
homepage = "https://github.com/tangramdotdev/tangram"
license = "MIT"
name = "tangram"
publish = true
repository = "https://github.com/tangramdotdev/tangram"
version = "0.7.0"

[lib]
path = "lib.rs"

[features]
default = []
tokio_1 = ["tokio"]

[dev-dependencies]
tokio = { version = "1", features = ["full"] }

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
chrono = { version = "0.4", features = ["serde"] }
memmap = "0.7"
reqwest = { version = "0.11", default-features = false, features = ["blocking", "json", "rustls-tls"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tangram_core = { version = "0.7.0", path = "../../crates/core" }
tangram_macro = { version = "0.7.0", path = "macro" }
tangram_model = { version = "0.7.0", path = "../../crates/model" }
tokio = { version = "1", features = ["full"], optional = true }
url = { version = "2", features = ["serde"] }
