.button {
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  border: none;
  box-sizing: border-box;
  color: var(--fun-text-color);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font: inherit;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.button[disabled] {
  background-color: var(--gray);
  cursor: not-allowed;
}

.button:hover:not([disabled]) {
  filter: brightness(90%);
}

.button:focus {
  filter: brightness(90%);
}

.button:active {
  filter: brightness(80%);
}

.button::-moz-focus-inner {
  border: none;
}
