.tuning-grid {
  display: grid;
  gap: 1rem;
}

.tuning-number-chart-grid {
  display: grid;
  gap: 1rem;
}

@media (max-width: 1199px) {
  .tuning-number-chart-grid {
    grid:
      "accuracy accuracy" auto "precision recall" auto /
      minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media (min-width: 1200px) {
  .tuning-number-chart-grid {
    grid:
      "accuracy precision recall" auto /
      minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
